@font-face {
    font-family: 'Arial_preview';
    src: url('http://apps.miiicasa.com/pixenate/fonts/arial.eot');
    src: local('☺'), url('http://apps.miiicasa.com/pixenate/fonts/arial.woff') format('woff'), url('http://apps.miiicasa.com/pixenate/fonts/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Bold_preview';
    src: url('http://apps.miiicasa.com/pixenate/fonts/arialbd.eot');
    src: local('☺'), url('http://apps.miiicasa.com/pixenate/fonts/arialbd.woff') format('woff'), url('http://apps.miiicasa.com/pixenate/fonts/arialbd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman_preview';
    src: url('http://apps.miiicasa.com/pixenate/fonts/times.eot');
    src: local('☺'), url('http://apps.miiicasa.com/pixenate/fonts/times.woff') format('woff'), url('http://apps.miiicasa.com/pixenate/fonts/times.ttf') format('truetype'), url('http://apps.miiicasa.com/pixenate/fonts/times.svg#webfontQki1q59h') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman Bold_preview';
    src: url('http://apps.miiicasa.com/pixenate/fonts/timesbd.eot');
    src: local('☺'), url('http://apps.miiicasa.com/pixenate/fonts/timesbd.woff') format('woff'), url('http://apps.miiicasa.com/pixenate/fonts/timesbd.ttf') format('truetype'), url('http://apps.miiicasa.com/pixenate/fonts/timesbd.svg#webfontuzCQfdXt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mistral_preview';
    src: url('http://apps.miiicasa.com/pixenate/fonts/mistral.eot');
    src: local('☺'), url('http://apps.miiicasa.com/pixenate/fonts/mistral.woff') format('woff'), url('http://apps.miiicasa.com/pixenate/fonts/mistral.ttf') format('truetype'), url('http://apps.miiicasa.com/pixenate/fonts/mistral.svg#webfontFhrjjqxd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comic-book-commando_preview';
    src: url('http://apps.miiicasa.com/pixenate/fonts/comic6.eot');
    src: local('comic-book-commando_preview'), url('http://apps.miiicasa.com/pixenate/fonts/comic6.woff') format('woff'), url('http://apps.miiicasa.com/pixenate/fonts/comic6.ttf') format('truetype'), url('http://apps.miiicasa.com/pixenate/fonts/comic6.svg#webfontDQLUoOga') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SimHei_preview';
    src: url('http://apps.miiicasa.com/pixenate/fonts/simhei.eot');
    src: local('☺'), url('http://apps.miiicasa.com/pixenate/fonts/simhei.woff') format('woff'), url('http://apps.miiicasa.com/pixenate/fonts/simhei.ttf') format('truetype'), url('http://apps.miiicasa.com/pixenate/fonts/simhei.svg#webfontFhrjjqxd') format('svg');
    font-weight: normal;
    font-style: normal;
}
